@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
   .bg-hero{
    background-image: url(./assets/images/home.png);
    background-size: 100% 100%;
   } 
   .bg-tab{
      background-image: url(./assets/images/tablet.png);
      background-size: 100% 100%;
   }
   .bg-mobile{
      background-image: url(./assets/images/mobile.png);
      background-size: 100% 100%;
   }
}